<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Weather Comparator">

 <test name="Weather Capturing NDTV">
		<classes>
			<class name="testCases.TempTestCases">
				<methods>
				    <include name="getWeatherDetailsFromUI"/>  
				    <include name="getWeatherInfoFromAPI"/>  
				    <include name="compareTempFromUIAndAPI"/>
				    <include name="wrongCityInfoInAPI"/> 
				    </methods>
 </class>
 </classes>
 </test>
</suite> 